.root
{
	-fx-color: #eeeeee;
	-fx-background: #cecebb;
	-fx-background-repeat: stretch;   
    -fx-background-size: 800 600;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

#main
{
	
	-fx-background: #ddddaa;
	-fx-background-image: url("pictures/SchulhausOhneTuer2.png");
}

#delMode
{
	-fx-color: #ddaaaa;
}

#gamebg {
	-fx-color: blue;
	-fx-background: red;
	-fx-background-image: null;
}

.check-box
{
	-fx-color: red;
	-fx-background: blue;
}

#fancytext {
    -fx-font: 40px Tahoma;
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, red 50%);
    -fx-stroke: black;
    -fx-stroke-width: 1;
}
