.root
{
	-fx-color: #eeeeee;
	-fx-background: whitesmoke;
    -fx-background-position: center center;
	-fx-background-repeat: stretch;   
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

#main
{
	
	-fx-background: #ddddaa;
	-fx-background-image: url("pictures/HintergrundSchulhaus.png"),url("pictures/SchulhausEinzelnBig.png");
}

#bold{
	-fx-font-weight: bold;
	-fx-font-size: 1.2em;
}


#gamebg {
	-fx-color: silver;
	-fx-background: silver;
	-fx-background-image: null;
}

.check-box
{
	-fx-color: black;
}

#fancytext {
    -fx-font: 40px Tahoma;
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, red 50%);
    -fx-stroke: black;
    -fx-stroke-width: 1;
}

/*Code Generator für die Farben
 * http://www.2createawebsite.com/build/hex-colors.html
 */

.button
{
	-fx-color:#7c7c7c;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-focus-color: white;
}
