#doorview{
	-fx-background-image: url("pictures/viewbackground.png");
	-fx-background-repeat: stretch;   
    -fx-background-size: stretch, cover;}
    
#DoorButtons{
	-fx-background-image: url("pictures/DoorIcon.png");
	-fx-background-repeat: no-repeat;
	-fx-padding: 22.0 21.0 22.0 21.0;
	-fx-label-padding: 0 150 0 30;
	}
    
#DoorScrollPane > .viewport {
   -fx-background-color: transparent;
}
#DoorScrollPane {
   -fx-background-color: transparent;
}