  
#editorview{
	-fx-background-color: #cef0ffff;
	}
#boldbtn{
	-fx-font-weight: bold;
	-fx-font-size: 1.1em;
	-fx-text-fill: #3f3f3f;
}
#italicbtn{
	-fx-font-family: Serif;
	-fx-font-style: italic;
	-fx-font-size: 1.4em;
	-fx-text-fill: #6d6d6d;
}
#crossedbtn{
	-fx-background-image: url("pictures/SDurchstrichen.png");
	-fx-background-size: contain;
	-fx-font-size: 1.1em;
}
#underbtn{
	-fx-underline: true;
	-fx-font-size: 1.1em;
	-fx-font-weight: none;
	-fx-text-fill: #6d6d6d;
}
#supbtn{
	-fx-background-image: url("pictures/Xhoch2.png");
	-fx-background-size: contain;
	-fx-font-size: 1.1em;
}
#subbtn{
	-fx-background-image: url("pictures/2unterX.png");
	-fx-background-size: contain;
	-fx-font-size: 1.1em;
}
#cpbtn{
	-fx-font-size: 1.1em;
	-fx-text-fill: #6d6d6d;
	}
#imgbtn{
	-fx-background-image: url("pictures/PictureIcon.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size: contain;
	-fx-font-size: 1.1em;
	}
#cpbtn{
	-fx-font-size: 1.1em;
	-fx-text-fill: #6d6d6d;
	}
	