#mainview {
	
	-fx-background-color: linear-gradient(to bottom, #d6fffd 70.0%, #7cbc7c 30.0%);
	-fx-background-image: url("pictures/SchulhausEinzelnBig.png");
	-fx-background-repeat: stretch;   
    -fx-background-size: stretch, cover;
}

#lernenbtn{
	-fx-background-image: url("pictures/KarteIcon.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size:contain;
}
#lernenbtn:hover {
	-fx-background-size:83%;
	-fx-background-position: 5px;
}
	
#stat2btn{
	-fx-background-image: url("pictures/DiagrammIcon.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size:contain;}
#stat2btn:hover {
	-fx-background-size:83%;
	-fx-background-position: 5px;
}
	
#optionsbtn{
	-fx-background-image: url("pictures/OptionIcon.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size:contain;}
	
#optionsbtn:hover {
	-fx-background-size:83%;
	-fx-background-position: 5px;
}
	
#gamebtn{
	-fx-background-image: url("pictures/GameIcon.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size:contain;}

#gamebtn:hover {
	-fx-background-size:83%;
	-fx-background-position: 5px;
}	



/* 
#loginBtn{
	-fx-font-family: "Segoe UI Semibold";
	-fx-color: #ffebb2;
    -fx-text-fill: #875100; 
    -fx-padding: 6.0 20.0 5.0 20.0;
    -fx-background-insets: 0,1,2; 
}
#loginBtn:hover {
	-fx-background-size:83%;
	-fx-background-position: 5px;
}	
*/



#UserBtn{
	
	-fx-background-image: url("pictures/UserIcon.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size:contain;
}
#UserBtn:hover {
	-fx-background-size:83%;
	-fx-background-position: 5px;
}

#helpbtn{
	-fx-background-image: url("pictures/HelpIcon.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size:contain;
	}
#helpbtn:hover {
	-fx-background-size:83%;
	-fx-background-position: 5px;
}

#quitbtn{
	-fx-background-image: url("pictures/ExitIcon.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size:contain;
	}
#quitbtn:hover {
	-fx-background-size:83%;	
	-fx-background-position: 5px;
}
