#mainview {
	
	-fx-background-color: linear-gradient(to bottom, #d6fffd 70.0%, #7cbc7c 30.0%);
	-fx-background-image: url("pictures/SchulhausEinzelnBig.png");
	-fx-background-repeat: stretch;   
    -fx-background-size: stretch, cover;
}
#startbtn{
	-fx-background-image: url("pictures/KarteIcon.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size:contain
}
	
#stat2btn{
	-fx-background-image: url("pictures/DiagrammIcon.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size:contain}
	
#optionsbtn{
	-fx-background-image: url("pictures/OptionIcon.png");
	
	-fx-background-repeat: no-repeat;
	-fx-background-size:contain}
	
#gamebtn{
	-fx-background-image: url("pictures/GameIcon.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size:contain}
	
	
