#manualview{
	-fx-background-color: #cef0ffff;
}



#impressumtext {
	-fx-font-family: "Segoe UI Semibold";
	-fx-background-color: white;
	-fx-text-fill: black;
	-fx-padding: 10.0px;
}
#impressumtitel{
	-fx-text-fill: black;
	-fx-font-family: "Segoe UI Semibold";
	-fx-font-size:25.0;
}