#stack{
	-fx-background-image: url("pictures/viewbackground.png");
	-fx-background-repeat: stretch;   
    -fx-background-size: stretch, cover;}
    
#BoxButtons{
	-fx-background-image: url("pictures/BoxIcon.png");
	-fx-background-repeat: no-repeat;
	-fx-padding: 17.0 10.0 17.0 10.0;
	}
    