.root {
	-fx-color: #eeeeee;
	-fx-background: whitesmoke;
    -fx-background-position: center center;
	-fx-background-repeat: stretch;   
    -fx-effect: dropshadow(three-pass-box, black, 30.0, 0.5, 0.0, 0.0);
}

#bold {
	-fx-font-weight: bold;
	-fx-font-size: 1.2em;
}


#gamebg {
	-fx-color: silver;
	-fx-background: silver;
	-fx-background-image: null;
}

.button {
	-fx-font-family: "Segoe UI Semibold";
	-fx-color: #ffebb2;
    -fx-text-fill: #875100;
    -fx-focus-color: #875100;
    -fx-background-insets: 0, 0, 1, 2;
}

.button:focused
{
	-fx-focus-color: #875100;
	-fx-background-color: linear-gradient(to bottom, #fff0c9 30.0%, #ceb373 100.0%);
	-fx-background-insets: -0.8, 0, 300, 100;
}

#icon{
	-fx-font-family: "Consolas";
	-fx-font-weight: bold;
	-fx-font-size: 1.4em;
}
