.root {
	-fx-color: #eeeeee;
	-fx-background: whitesmoke;
    -fx-background-position: center center;
	-fx-background-repeat: stretch;   
    -fx-effect: dropshadow(three-pass-box, black, 30.0, 0.5, 0.0, 0.0);
}

#bold {
	-fx-font-weight: bold;
	-fx-font-size: 1.2em;
}

#gamebg {
	-fx-color: silver;
	-fx-background: silver;
	-fx-background-image: null;
}

.button {
	-fx-font-family: "Segoe UI Semibold";
	-fx-color: #ffebb2;
    -fx-text-fill: #875100; 
    -fx-padding: 1em;
    -fx-background-insets: 0,1,2; 
    /* folgendes geht (Beispiel):
    	-fx-max-width: 250px;
    */
}

.button:focused
{
	
}

.button:hover
{     
	-fx-color: #f7e0a3;
}

#closebtn{
	-fx-background-image: url("pictures/ExitIcon.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size:contain}
	
	

	

#icon{
	-fx-font-family: "Consolas";
	-fx-font-weight: bold;
	-fx-font-size: 1.4em;
}
