<head><style type="text/css">
html	{font-family: Verdana, sans-serif; }
h1,h2	{color: #d00725; } /* WISS red*/
hr		{boder: 0; height: 5px; border-color: #d00725; background-color: #d00725; color: #d00725;}
table	{font-size: 0.8em; text-align: left; width: 95%; border-collapse: collapse; }
th, td  {padding: 5px, 30px, 5px, 0; min-width: 130px; }
</style></head>
<body>

<hr/>
<h1> Lernkartei Anleitung </h1>
<hr/>

<h2>Lernen</h2>

<p><p>Wenn du das Programm gestartet hast siehst du das Menü.
Drücke den mittleren Button <b>"Lernen"</b>. Dannach bist du bei den Fächern.
Das sind die Oberthemen. Unten siest du den Button <b>"Neues Fach"</b>
Mit ihm kannst du ein neues Fach erstellen und ihm einen Namen geben (zum Beispiel Mathe).
Klicke nun auf die neuen Fächer, die du erstellt hast und du landest bei den Stapeln.
Das sind die Unterthemen, wie zum Beispiel Algebra und Geometrie in unserem Fall.
Klicke auf <b>"Neuer Stapel"</b> und ein kleines Fenster mit einer Auswahl erscheint.
Du kannst selber Kärtchen erstellen oder bereits erstellte Stapel von Quizlet importieren.</p>

Wenn du fertig bist, klicke auf die Box, die du erstellt hast.
Hast du dies getan, klicke auf <b>"Lernen"</b> und das erste Kärtchen erscheint.
Klicke auf das Kärtchen oder den "Drehe" Button, um die Rückseite anzeigen zu lassen.
Anschliessend bestätige mit <b>"Richtig"</b> oder <b>"Falsch"</b>, um dem Programm zu sagen,
ob du das Kärtchen wusstest oder nicht.</p>

<h2>Kärtchen bearbeiten/hinzufügen</h2>

<p>Um ein Kärtchen zu erstellen, bearbeiten oder hinzuzufügen,
gehe bei den Stapeln(Karteikästchen) auf "Bearbeiten". Nun hast du eine Liste der Kärtchen sofern 
du schon welche erstellt hast. In die Felder kannst du nun die Frage und die Antwort eintippen.
Wenn du auf den Stift neben den Feldern klickst, kannst du bereits erstellte Kärtchen bearbeiten.
Das heisst du kannst den Text umfärben, grösser machen und auch Bilder hinzufügen.
Klickst du auf das Häkchen kannst du das bearbeitete Kärtchen speichern.</p>

<h2>Drucken</h2>

<p>Wenn du die erstellten Kärtchen ausdrucken möchtest um sie so zu lernen klicke 
auf einen Stapel dann siehst du den <b>Drucken</b> Button unter <b>Lernen</b> und
<b>Bearbeiten</b>.</p>

<h2>Jump 'n' Run</h2>

<p>Wenn du unser Jump 'n' Run ausprobieren möchtest brauchst du dazu sogenannte <b>Leben</b>. Du
kannst Leben bekommen indem du mit der Lernkartei lernst. Wenn du im Jump 'n' Run stirbst und so ein Leben 
verlierst kannst du erst weitermachen wenn du wieder neue Leben hast. 
Momentan stehen 2 Levels zur verfügung.</p>

<h2>Glossar</h2>
<p>
<table>
<tr> <th>Fächer			</th> <td>Das sind die Themen.</td></tr>
<tr> <th>Stapel			</th> <td>Das sind die Unterthemen</td></tr>
<tr> <th>Jump 'n' Run	</th> <td>Mit lernen kannst du dir Leben verdienen für das Spiel. Du findest es im Hauptmenü.</td></tr>
<tr> <th>Optionen		</th> <td>Hier kannst du einstellen wie viele Kärtchen du auf einmal lernen möchtest.</td></tr>
<tr> <th>Statistiken	</th> <td>Hier kannst du deinen Fortschritt sehen und wie viele Punkte du gesammelt hast beim lernen.</td></tr>
<tr> <th>Quizlet		</th> <td>Von dort kannst du Kärtchen importieren wenn du sie nicht selber schreiben möchtest.</td></tr>
<tr> <th>Lernkarteien	</th> <td>Hier drücken um die Kartei auszuwählen und sie zu lernen.</td></tr>
<tr> <th>[?] Icon		</th> <td>Hier findest du Anleitungen, Infos, Index und anderes.</td></tr>
<tr> <th>Glossar		</th> <td>Hier werden diverse Begriffe erklärt.</td></tr>
<tr> <th>Impressum		</th> <td>Wer and diesem Programm gerarbeitet hat ist hier aufgelistet.</td></tr>
<tr> <th>Anleitung		</th> <td>Kurze Anleitung wie man WISSLearnCards benutzt.</td></tr>
<tr> <th>Troubleshoot	</th> <td>Eine kleine Troubleshooting Anleitung.</td></tr>
<tr> <th>Logfile		</th> <td>Hier kann man nach der Ursache eines Fehlers suchen.</td></tr>
</table>
</p>
</body>