<body>
<hr style="boder: 0; height: 5px; border-color: #d00725; background-color: #d00725; color: #d00725;"/>
<h1 style="color: #d00725;"> Erste Schritte: </h1>
<hr style="boder: 0; height: 5px; border-color: #d00725; background-color: #d00725; color: #d00725;"/>

<p>Wenn Du das Programm gestartet hast siehst du das Men&uuml;. 
Dr&uuml;cke den obersten Button Lernen. Dannach bist du bei den T&uuml;ren. 
Das sind die Oberthemen. Unten siest du einen Button Erstelle neue T&uuml;r. 
Klicke auf ihn und dann kannst du der T&uuml;r einen Namen geben (zum Biespiel Mathe).
Klicke nun auf die neue T&uuml;r, die Du erstellt hast und Du landest nun bei den Boxen. 
Das sind die Unterthemen, wie zum Beispiel Algebra und Geometrie in unserem Fall.
Klicke auf Neuer Stapel und ein kleines Fenster mit einer Auswahl erscheint. 
Du kannst selber K&auml;rtchen erstellen oder sie von importieren (Du entschiedest).
Wenn du fertig bist, klicke auf die Box, die du erstellt hast. 
Nun kannst du K&auml;rtchen hinzuf&uuml;gen, wenn du auf Bearbeiten klickst. 
Hast du dies getan, klicke auf Lernen und das erste K6auml;rtchen erscheint.
Dr&uuml;cke auf den deren Button, um die R&uuml;ckseite anzeigen zu lassen. 
Anschliessend, klicke auf <b>"Richtig"</b> oder <b>"Falsch"</b>, um dem Programm zu sagen, 
ob du das K&auml;rtchen wusstest oder nicht.</p>


<h2 style="color: #d00725;">K&auml;rtchen bearbeiten/hinzuf&uuml;gen</h2>

<p>Um ein K&auml;rtchen zu erstellen, bearbeiten oder hunzuzuf&uuml;gen, 
gehe bei den Stapeln(Karteik&auml;stchen) auf bearbeiten. 
Nun hast du eine Liste der K&auml;rtchen sofern du schon welche erstellt hast. 
Nun kannst du die Frage und die Antwort eintippen in die Felder. 
Klicke dann auf das H&auml;kchen am Ende der Zeile um zu best&auml;tigen. 
Wenn du auf den Stift neben dem H&auml;ckchen klickst, 
kannst du bereits erstellte K&auml;rtchen bearbeiten.</p>

<p>etc.</p>
</body>