<head><style type="text/css">
html	{font-family: Verdana, sans-serif; }
h1,h2	{color: #d00725; } /* WISS red*/


</style></head>
<body>


<h1> Erste Schritte </h1>

<p>Das Programm WISSLearnCards wurde programmiert im Rahmen eines Projekts durch die 
Informatiklernenden im Auftrag der</p>

<p>
Stiftung Wirtschaftsinformatikschule Schweiz WISS<br> 
Ostermundigenstrasse 81<br> 
CH-3006 Bern<br> 
</p>

<h2>Teilnehmer:</h2>

Informatiklernende vom

<p>
Bundesamt für Informatik und Telekommunikation BIT<br> 
Monbijoustrasse 74<br> 
CH-3003 Bern<br> 
</p>

• Yanis Weibel<br> 
• Joel Häberli<br> 
• David Schor<br> 
• Nina Egger<br> 
• Roger Schneiter<br> 
• Miro Albrecht<br> 
• Tim Leibacher<br> 
</body>