<head><style type="text/css">
html	{font-family: Verdana, sans-serif; }
h1,h2	{color: #d00725; } /* WISS red*/
hr		{boder: 0; height: 5px; border-color: #d00725; background-color: #d00725; color: #d00725;}
table	{font-size: 0.8em; text-align: left; width: 95%; border-collapse: collapse; }
th, td  {padding: 5px, 30px, 5px, 0; min-width: 330px; }
</style></head>
<body>
<hr/>
<h1> Trouble Shooting </h1>
<hr/>
<h2>Files or Database Problems</h2>
<table border="1" style="border-collapse: collapse;">
	<tr><th>The problem</th><th>Possible solution</th></tr>
	<tr><td>The log-file is corrupt or too big</td>
		<td>You may delete manually the log-file (see his location at log-file menu title) 
			using the OS file-manager. This application will then create a new one.</td></tr>
	<tr><td>The database is corrupt or old</td>
		<td>You may delete it manually using the OS file-manager 
			(the DB location, is the same as the log-file ones, 
			see at the log-file menu title). 
			This application will then create a new one.</td></tr>
</table>
</body>