.root
{
	-fx-background-color: #383838;
	
	
}

*{-fx-background-radius: 3;}
.check-box
{
		-fx-text-fill: #ffffff;
}

.button:hover
{
	-fx-background-color: #66CC66;
}

.button
{
	
}